body {
  background-color: #1c1c1c;
  color: white;
  
}

div {
  width: 100px;
  height: 40px;
  margin: 2px;
  border-radius: 10px;
  padding: 2px 50px;

  text-align: center;
  
}

span {
  vertical-align: middle;
}
.calc-row {
  display: flex;
}

.clear-block {
  background-color: #d4d4d2;
}

.num-block {
  background-color: #505050;
}

.oper-block {
  background-color: #ff9500;
}